[submodule "mods/mtg/tnt"]
	path = mods/mtg/tnt
	url = https://github.com/minetest-game/tnt.git
[submodule "mods/mtg/sfinv"]
	path = mods/mtg/sfinv
	url = https://github.com/minetest-game/sfinv.git
[submodule "mods/mtg/creative"]
	path = mods/mtg/creative
	url = https://github.com/minetest-game/creative.git
[submodule "mods/mtg/mtg_craftguide"]
	path = mods/mtg/mtg_craftguide
	url = https://github.com/minetest-game/mtg_craftguide.git
[submodule "mods/simple_skins"]
	path = mods/simple_skins
	url = https://codeberg.org/tenplus1/simple_skins.git
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "mods/mtg/player_api"]
	path = mods/mtg/player_api
	url = https://github.com/minetest-game/player_api.git
[submodule "mods/bakedclay"]
	path = mods/bakedclay
	url = https://codeberg.org/tenplus1/bakedclay.git
[submodule "mods/mtg/beds"]
	path = mods/mtg/beds
	url = https://github.com/minetest-game/beds.git
[submodule "mods/mtg/boats"]
	path = mods/mtg/boats
	url = https://github.com/minetest-game/boats.git
[submodule "mods/mtg/bones"]
	path = mods/mtg/bones
	url = https://github.com/minetest-game/bones.git
[submodule "mods/mtg/carts"]
	path = mods/mtg/carts
	url = https://github.com/minetest-game/carts.git
[submodule "mods/mtg/spawn"]
	path = mods/mtg/spawn
	url = https://github.com/minetest-game/spawn.git
[submodule "mods/mtg/dye"]
	path = mods/mtg/dye
	url = https://github.com/minetest-game/dye.git
[submodule "mods/mtg/fire"]
	path = mods/mtg/fire
	url = https://github.com/minetest-game/fire.git
[submodule "mods/mtg/flowers"]
	path = mods/mtg/flowers
	url = https://github.com/minetest-game/flowers.git
[submodule "mods/mtg/walls"]
	path = mods/mtg/walls
	url = https://github.com/minetest-game/walls.git
[submodule "mods/mtg/wool"]
	path = mods/mtg/wool
	url = https://github.com/minetest-game/wool.git
[submodule "mods/mtg/screwdriver"]
	path = mods/mtg/screwdriver
	url = https://github.com/minetest-game/screwdriver.git
[submodule "mods/mtg/stairs"]
	path = mods/mtg/stairs
	url = https://github.com/minetest-game/stairs.git
